@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Oswald:wght@200;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body, input, button {
  font-family: 'Luckiest Guy', cursive, 'Oswald', sans-serif;
}

main {
	background-color: #333333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background: linear-gradient(253.38deg, rgba(199, 108, 63, 0.2) 0.94%, rgba(110, 35, 0, 0.2) 55.92%), #805D34;
	border-radius: 80px;
	width: 72%;
	height: 70%;
	display: flex;
}

.window-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
  font-weight: 400;
  font-style: normal;
	height: 100%;
	width: 60%;
	overflow: hidden;
}

.window {
	background-color: #B97D44;
	border-radius: 40px;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	overflow: hidden;
}

.field input {
	background:none;
	border: none;
	border-bottom: 2px solid black;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 20pt;
}

.field input:focus {
	outline: none;
	border-color: white;
	transition: 0.25s;
}

.submit {
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 26pt;
	border-radius: 40px;
	outline: none;
	border: none;
}

.submit:hover {
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

#go, #start {
	background-color: #D9D9D9;
}

#roll:disabled {
	background-color: #dbffde;
}

#roll {
	background-color: #3A6C42;
}

#roll:hover {
	background-color: #325a38;
}

#go:hover, #start:hover {
	background-color: #dbffde;
}

.error-pane {
	position: absolute;
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.error {
	background-color: rgb(105, 19, 19);
	width: 30%;
	margin-top: 10px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	padding: 10px;
}

.error:hover {
	cursor: pointer;
}
.error-message {
	color: white;
	margin-left: 20px;
}

.leftside {
	width: 20%;
	overflow: hidden;
	margin: 10% 0.5%;
	color: white;
	font-size: 20pt;
}

.player-list {
	padding-left: 10px;
}

#goal {
	width: 90%;
}

#pts { 
	width: fit-content;
}

.field.flex {
	display: flex;
	flex-direction: row;
	align-items:baseline;
	gap: 10px;
}

.dices {
	display: flex;
	justify-content: center;
	width: 60%;
	flex-wrap: wrap;
	gap: 30px;
}

.dice {
	background-color: white;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dots3, .dots4, .dots1, .dots2, .dots6 {
	width: 80%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 17px;
}

.dots5 {
	display: flex;
	height: 65%;
	flex-direction: column;
	gap: 30px;
	padding: 5px;
}

.dots6 {
	gap: 10px;
}

.dots5:nth-child(2n) {
	justify-content: center;
}

.dots3 {
	transform: rotate(45deg);
}

.dots4 {
	justify-content: space-between;
	height: 60%;
	width: 50%;
}

.dot {
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 99px;
}

.goal {
	display: flex;
	gap: 10px;
}
